$pokemon-types:(
    fire: #F08030,
    water: #6890F0,
    grass: #91c776,
    electric: #F8D030,
    ice: #98D8D8,
    fighting: #c6645f,
    poison: #8f6b8f,
    ground: #E0C068,
    flying: #b9c3f0,
    psychic: #F85888,
    bug: #a7b717,
    rock: #B8A038,
    ghost: #705898,
    dragon: #ed6b7c,
    dark: #919191,
    steel: #B8B8D0,
    fairy: #EE99AC,
    normal: #A8A878
)